/* reset css */
* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #f8e1db;
  padding: 15px 40px;
}
.header .header_logo {
  margin-bottom: 20px;
  display: inline-block;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline;
  margin-right: 25px;
}

.header ul li a {
  color: black;
  text-decoration: none;
}

.demo {
  background-color: black;
}

.demo1 {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 40px 20px 60px 80px;
  padding: 40px;
}

.demo2 {
  width: 200px;
  height: 200px;
  background-color: blue;
}
